label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-image: url(wood.png);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.background-color {
  background-image: url(wood.png);
  
}

@import "~antd/dist/antd.css";
@import "./style//StyleProduced.css";

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background-image: url(wood2.jpg);
}
[data-theme="dark"] .ant-layout-header {
  background-image: url(wood2.jpg);
}
[data-theme="dark"] .ant-layout-footer {
  background-image: url(wood2.jpg);
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background-image: url(wood.png);
}
[data-theme="dark"] .ant-layout-sider {
  background-image: url(wood.png);
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background-image: url(wood.png);
}
[data-theme="dark"] .ant-layout-content {
  background-image: url(wood.png);
}
.code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  height: 100vh;
  background-image: url(wood.png);
}

.rowItem {
  margin-top: -44px;
  margin-left: 9px;
  display: flex;
}

.colums {
  height: 280px;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  margin: 22px 0px;
  margin-left: 32px;
}

.Card-item {
  width: 218px;
}

.ant-card-cover > * {
  display: block;
  width: 214px;
}

.ant-card-body {
  padding: 0 0;
  height: 118px;
  width: 215px;
}

.ant-card-meta-description {
  color: rgba(0, 0, 0, 0.45);
  margin-left: 24px;
  margin-top: 4px;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-left: 15px;
  margin-top: 13px;
  margin-bottom: -5px;
  font-size: 24px;
}

.ant-card-cover img {
  border-radius: 9px 9px 9px 9px;
  height: 188px;
}

.ant-btn-block {
  width: 44%;
  margin-left: 116px;
  margin-top: 17px;
}
.ant-layout-content {
  margin: 0 0;
}

.Breadcrumb-Header {
  height: 47px;
}

.login {
  position: absolute;
  right: 23px;
  top: 13px;

}

.btn-login {
  position: absolute;
  width: 113px;
  top: 10px;
  right: 20px;
  margin: 0 0;
}

.btn-registration {
  position: absolute;
  width: 113px;
  top: 10px;
  right: 140px;
  margin: 0 0;
}

.ant-breadcrumb .anticon {
  font-size: 30px;
  right: 222px;
  top: 43px;
  color: white;
}

.Input-Search {
  position: relative;
  top: 5px;
  left: 35px;
    width: 838px;
    height: 44px;
  margin: 1px 1px;
  padding: 3px 0px;
  border-radius: 3px;
  background-color: white;
}

.Input-Search-text {
  position: absolute;
  outline: none;
  width: 722px;
  height: 41px;
  padding-left: 0px;
  border-radius: 3px;
  border: none;
  margin-left: 15px;
  color: #666;
  top: 1px;
}

.icon-card {
  position: absolute;
  top: 43px;
  font-size: 20px;
}

.btn-Search {
  position: absolute;
  top: 5px;
    right: 8px;
  background-image: url(wood2.jpg);
  border-radius: 5px;
  height: 34px;
  width: 94px;
  padding: 0px 0px;
}

.ant-btn > .anticon {
  line-height: 0;
}

.btn-search-icon {
  color: white;
  margin: 0px 0;
  font-size: 20px;
}

.btn-Search:hover {
  background-color: #e3eaf0;
}

.logo {
  height: 46px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background-image: url(wood2.jpg);;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.ant-menu-dark.ant-menu-inline,
.ant-menu-dark.ant-menu-vertical,
.ant-menu-dark.ant-menu-vertical-left,
.ant-menu-dark.ant-menu-vertical-right {
  border-right: 0;
  background-image: url(wood2.jpg);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-image: url(wood2.jpg);
}

.Header-app {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.Header-item {
  display: flex;
}

.item-btn{
  margin-left: 10px;
  font-size: medium;
  font-weight: 600;
  color: rgb(238, 226, 226);
}

li {
  list-style: none;
}

.Content-app{
  height: 100%;
  width: 100%;
}

body{
  background-image: url(wood.png);
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 41.1px;
  background-image: url(wood2.jpg);
  border-style: solid;
  border-color: url(wood2.jpg);
}
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
  background-image: url(wood2.jpg);
}
.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
  -ms-flex: auto;
  flex: auto;
  min-width: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-image: url(wood.png);
}
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
  background-image: url(wood.png);
}
